.git
.gitignore
.idea
.vscode
*.iml
target/
build/
*.log
logs/
tmp/
temp/
dist/
out/
.env
Dockerfile
.dockerignore
*.md
*.txt
coverage/
.DS_Store
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
pom.xml.versionsBackup
node_modules/
vendor/
기획서.docx